<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Art Collector</title>
</head>
<body>
<header>
<div class="container">
	<div>
		<h1><a href="/">Met Art Collection</a></h1>
	</div>
</div>
</header>
<main>

</main>
<div class="container" style="text-align:center">
	   &copy;2019 <a href="/">Met Art Collection</a>
</div>

{{{ body }}}

<button id="runButton">Get Art</button>
    
<script>
    $("#runButton").on("click", getArt);

    function getArt() {
        const idsUrl = "https://collectionapi.metmuseum.org/public/collection/v1/objects";

        //Get a list of all valid art object ids
        $.ajax({
            method: "GET",
            url: idsUrl
        }).then(function(idResponse) {
            const numIds = idResponse.total;

            let artPieces = {pieces: []};

            getFour(numIds);

            function getFour(numIds){
                const randIndex = Math.floor(Math.random()*numIds);
                const url = "https://collectionapi.metmuseum.org/public/collection/v1/objects/" + idResponse.objectIDs[randIndex];

                $.ajax({
                    method: "GET",
                    url: url
                }).then(function(response) {
                    let image = "";
                    try {
                        image = response.primaryImageSmall;
                    }
                    catch (error) {
                        //pass (primaryImageSmall does not exist)
                    }

                    if(image != "") {
                        artPieces.pieces.push(response);
                    }

                    if(artPieces.pieces.length < 4) {
                        getFour(numIds);
                    }
                    else {
                        sendPost(artPieces);
                    }
                });
            };
        });
    };

    function sendPost(artPieces) {
        //Send a POST request to "/" with artPieces as body
        $.ajax({
            method: "POST",
            url: "/",
            data: artPieces
        }).then(function(response) {
            //pass
        });
    }

</script>

</body>
</html>