<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Art Collector</title>

    <style>
        .art {
            width: 50%;
        }
    </style>
</head>
<body>
<header>
<div class="container">
	<div>
	<center><h1><a href="/">Met Art Collection</a></h1></center>
	</div>
</div>
</header>
<main>

</main>
<center>
<div class="art" id="item">
    <h3 id="title"></h3>
    <img id="image" src="" style="width:60%;"><br>
    <h4 id="artist"></h4>
    <h5 id="date"></h5>
    <button>Save to Gallery</button>
</div>

<br/>
<br/>

</center>

<center>
<button id="runButton">Get Art</button>
</center> 

<script>
    $("#runButton").on("click", getArt);

    function getArt() {
        const idsUrl = "https://collectionapi.metmuseum.org/public/collection/v1/objects";

        //Get a list of all valid art object ids
        $.ajax({
            method: "GET",
            url: idsUrl
        }).then(function(idResponse) {
            const numIds = idResponse.total;

            getItem(numIds);

            function getItem(numIds){
                const randIndex = Math.floor(Math.random()*numIds);
                const url = "https://collectionapi.metmuseum.org/public/collection/v1/objects/" + idResponse.objectIDs[randIndex];

                $.ajax({
                    method: "GET",
                    url: url
                }).then(function(response) {
                    let image = "";
                    try {
                        image = response.primaryImageSmall;
                    }
                    catch (error) {
                        //pass (primaryImageSmall does not exist)
                    }

                    if(image != "") {
                        artObject = response;

                        $("#image").attr("src", artObject.primaryImageSmall);
                        $("#title").text(artObject.title);
                        $("#artist").text(artObject.artistDisplayName);
                        $("#date").text(artObject.objectDate);

                        return;
                    }
                    getItem(numIds);
                });
            };
        });
        $(".save").on('click', function() {

            let newPiece = {
                picture: $("#image"),
                title: $("#title"),
                creator: $("#artist")
            }

            $.ajax("/api/collection1",{ //will need to make the table change with form entry
                method: "POST",
                data: newPiece
            }).then(() => {
                console.log("added art piece to table");
            })
        })

    };
    
</script>

<div class="container" style="text-align:center">
    &copy;2019 <a href="/">Met Art Collection</a>
</div>
</body>
</html>