{{#each artPieces.pieces}}
	<div class="art">
		<img src="{{this.primaryImageSmall}}" style="width:200px;"><br>
		<h2><b> {{this.title}} </b></h2>
		<h4><b> {{this.artistDisplayName}} </b></h4>
		<h4><b> {{this.objectDate}} </b></h4>
		<button>Save to Gallery</button>
	</div>
{{/each}}