{{#each artPieces}}
<div class="art" >
	<img src="{{primaryImageSmall}}" style="width:100px;"><br>
	<h2><b>{{title}} {{artist}} {{objectDate}}</b></h2>
    <button>Save to Gallery</button>
 </div>
{{/each}}