body{
    background-image: url("./so-white.png");
    background-size: 100vh;
    font-family: 'IM Fell French Canon SC', serif;
}

.container-full {
    margin: 2%;
}
.galleryMenu {
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}
.galleryButton {
    margin-top: 5px;
    padding: 15px;
    border-width: 1.5px;
    border-color: green;
    border-style: none;
}
.galleryButton:focus, .galleryButton:active:focus, .galleryButton.active:focus{
    outline: none;
    box-shadow: none;
    border-color: green;
    border-style: solid;
    border-width: 1.5px;
}

.card {
    margin-bottom: 20px;
    
}

.col-lg-8 {
    display: grid;
    place-items: center;
}


